/*GENERAL SETTİNGS*/

@font-face 
{
    font-family: 'Raleway-Regular.ttf';
    src: url('../fonts/Raleway-Regular.ttf.ttf') format('truetype');
}
body{
    background: #808080;
  color:#000000;

  font:14px / 28px;
  font-family:'Raleway',arial;


}


/*GRID SETTİNGS*/
.container{
    width:90%;
    margin:0 auto;
    display:flex;


}
/*HOME SETTINGS*/
header .logo{
    margin-right: auto;

}

header.logo img{
    display:block;
    height:70px;
}

